@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;600&display=swap');

$dark-green: #23362bff;
$jungle-green: #1bb28cff;
$bittersweet: #e86a58ff;
$mustard: #fed45bff;
$tiffany-blue: #9bc7c5ff;
$isabelline: #efeeeaff;

%center_elem_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}