@import "./base";

*, *::after, *::before {
    box-sizing: border-box;
}
* {
    margin: 0;
}

#root {
    min-height: 100svh;
    min-height: 100vh;
    @extend %center_elem_flex;
    font-family: 'Kanit', sans-serif;
}

#title {
    margin-bottom: 1rem;
    font-size: 3.5em;
    font-weight: 700;
    color: $dark-green;
}

#url_form {
    @extend %center_elem_flex;
    gap: 1.5rem;
    width: 100%;
    padding: 0 10rem;
}

.url_input {
    width: 100%;
    padding: 1em 2em;
    font-size: 1.2em;
    border-radius: 1.3em;
    border: 1px solid $tiffany-blue;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    &:active, &:focus {
        border: 2px solid $jungle-green;
        outline: none; // add this
    }
}

#url_check_btn {
    padding: 0.5em 4em;
    font-size: 1.5em;
    border-radius: 0.7em;
    border: none;
    background-color: $jungle-green;
    color: $isabelline;
    &:hover {
        cursor: pointer;
        background-color: $mustard;
        -webkit-transition: background-color 200ms linear;
        -ms-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }
    &:active {
        transform: scale(0.97);
        -webkit-transition: transform 20ms linear;
        -ms-transition: transform 20ms linear;
        transition: transform 20ms linear;
    }
}

@media (max-width: 1000px) {
    #title {
        font-size: 2.5em;
    }
    
    #url_form {
        padding: 0 5rem;
    }
    
    .url_input {
        padding: 0.7em 1em;
        font-size: 1em;
    }
    
    #url_check_btn {
        padding: 0.5em 3em;
        font-size: 1.2em;
    }
}

@media (max-width: 650px) {
    #title {
        font-size: 2em;
    }
    #url_form {
        padding: 0 1rem;
    }
    .url_input {
        padding: 0.3em 0.8em;
        font-size: 0.9em;
    }
    #url_check_btn {
        padding: 0.3em 2em;
        font-size: 1em;
    }
}