@import "./base";
@import "./inputform";
@import "./button";
@import "./title";

*, *::after, *::before {
    box-sizing: border-box;
}
* {
    margin: 0;
}

#root {
    min-height: 100svh;
    min-height: 100vh;
    @extend %center_elem_flex;
    font-family: 'Kanit', sans-serif;
}